html,
body {
    height: 100%;
}

body {
    background-color: #080808;
    color: #f8f8f8;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;

    /*-webkit-font-smoothing: antialiased;*/
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-smooth: antialiased;*/
}

ul,
li {
    margin: 0;
    padding: 0;
}

a.inline {
    display: inline-block !important;
}

a,
a:hover,
a:active {
    color: #d2b99d !important;
}

a:hover,
a:active {
    text-decoration: underline;
}

.container-fluid {
    padding: 0;
}

#main,
#app-wrapper,
#content {
    height: 100%;
}

#main #app-wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.text-divider {
    background: white;
    height: 3px;
    margin: 24px 0;
    width: 38.6%;
}

nav ul {
    font-size: 0;
}

nav ul li {
    font-size: 12px;
}

.mobile #nav-top-wrapper {
    padding: 20px 50px 20px 60px;
}

#nav-top-wrapper {
    color: #fff2c8;
    font-weight: bold;
}

#nav-top-wrapper .navbar-brand {
    padding: 12px 15px;
}

#nav-top-wrapper .logo {
    color: #fff2c8;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 0;
    padding-left: 0;
}

#nav-top-wrapper nav li {
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
}

#nav-top-wrapper li:hover,
#nav-top-wrapper li:active,
#nav-top-wrapper li.active {
    text-decoration: underline;
}

#nav-top-wrapper nav li a {
    display: block;
}

#nav-top-wrapper .navbar-header .navbar-toggle {
    margin-left: 20px;
}

#nav-top-wrapper .navbar {
    background: none;
    border: none;
}

.mobile #nav-top-wrapper .navbar {
    background: rgba(0, 0, 0, 0.7) !important;
}

#nav-top-wrapper .navbar .nav.language {
    margin: 0;
}

#nav-top-wrapper .navbar .nav.language li {
    display: inline-block;
}

#nav-top-wrapper .navbar .nav.language li a {
    padding: 15px 20px;
}

#nav-top-wrapper .navbar .nav {
    font-size: 12px;
}

#nav-top-wrapper #nav-language li:not(:last-of-type) {
    margin-right: 15px;
}

#nav-top-wrapper #nav-language {
    right: 20px;
    position: absolute;
    top: 20px;
}

#content .screen {
    background-size: cover !important;
    min-height: 100%;
    padding: 56px 0;
    position: relative;
}

#content .screen a {
    display: block;
    margin-bottom: 8px;
}

.mobile #content .screen {
    background: none !important;
    padding: 16px 0;
}

#content .screen-content {
    margin: 0 auto;
    padding-top: 60px;
}

.mobile #content .screen-content {
    padding: 20px 0;
}

#content .screen-content .col-sm-4 {
    padding: 0 40px 0 0;
}

#content .screen-content p {
    line-height: 1.618em;
}

footer {
    bottom: 20px;
    color: rgba(255, 255, 255, 0.31415);
    font-size: 10px;
    opacity: 1;
    padding: 0 60px;
    position: fixed;
    text-align: right;
    width: 100%;
}

.mobile footer {
    background-color: #161616;
    bottom: 0px !important;
    padding-bottom: 2px;
    padding-top: 2px;
    white-space: nowrap;
}

.background-image {
    height: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: -1;
}

/*
 * Content
 * 
 */

#content p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.05em;
}

#content p a {
    display: block;
}

/*
 * Home
 * 
 */

@media only screen and (max-width: 768px) {
    #nav-top-wrapper .logo {
        padding-left: 15px;
    }

    .mobile #nav-top-wrapper .navbar-nav > li > a {
        font-size: 16px;
    }

    .home .screen-0 {
        padding: 0 !important;
    }

    .home .ep-wrapper .sun-ep-small {
        display: block !important;
        float: none !important;
        margin: 2em auto !important;
    }

    .startnext-widget {
        float: none !important;
        margin: 0 auto;
        width: 300px;
    }

    .intro-text {
        padding-right: 1em !important;
        width: 100% !important;
    }

    .intro-text p {
        margin-bottom: 3em !important;
    }
}

.home .startnext-widget .cfw-footer a.cfw-widget-btn {
    color: #ffffff !important;
}

.home .intro-text {
    padding-right: 3em;
    width: calc(100% - 400px);
}

.home .ep-wrapper {
    margin-bottom: 3em;
    max-width: 800px;
}

.home .ep-wrapper .sun-ep-small {
    margin: 2em 0;
    height: 256px;
    width: 256px;
}

.home .screen-0 {
    padding-top: 56px;
}

.home #content .screen-2 {
    background: url(./images/about_us.jpg) no-repeat center top;
}

.home #content .screen-2 .col-sm-4 {
    opacity: 0.3;
}

.home #content .screen-1 {
    cursor: default;
}

.mobile .home ep-container {
    width: 100%;
}

.home .ep-wrapper iframe {
    display: block;
    margin: 30px auto;
    position: relative;
    z-index: 1;

    max-width: 400px;
    width: 100%;
}

.home .ep-wrapper .image-wrapper {
    left: 0px;
    top: 0px;
    width: 100%;
    opacity: 0.3;
    position: fixed;
    z-index: 0;
}

.mobile .home .ep-wrapper iframe {
    width: 100% !important;
}

.home img {
    display: block;
    margin: 0 auto;
}

.mobile .screen-content > div {
    width: 100% !important;
}

.hoverable {
    display: block;
    transition: 1s all ease;
}

.hoverable:hover {
    box-shadow: 0px 0px 32px #fff2c8;
    transform: scale(1.025);
}

.home .ep-wrapper img {
    box-shadow: 0px 2px 4px rgba(8, 8, 8, 1);
    height: 100%;
    width: 100%;
    max-width: 400px;
}

.home .ep-wrapper .download {
    font-weight: bold;
    position: absolute;
    left: calc(50% - 58px);
    bottom: -50px;
}

.home .ep-wrapper .download {
    color: #fff !important;
}

.home .ep-wrapper .download span {
    margin-right: 7px;
}

.home .col-md-6 {
    margin-bottom: 2em;
}

.desktop .home .screen-2:before {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2MTYxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjE2MTYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(
        top,
        rgba(22, 22, 22, 1) 0%,
        rgba(22, 22, 22, 0) 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, rgba(22, 22, 22, 1)),
        color-stop(100%, rgba(22, 22, 22, 0))
    );
    background: -webkit-linear-gradient(
        top,
        rgba(22, 22, 22, 1) 0%,
        rgba(22, 22, 22, 0) 100%
    );
    background: -o-linear-gradient(
        top,
        rgba(22, 22, 22, 1) 0%,
        rgba(22, 22, 22, 0) 100%
    );
    background: -ms-linear-gradient(
        top,
        rgba(22, 22, 22, 1) 0%,
        rgba(22, 22, 22, 0) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(22, 22, 22, 1) 0%,
        rgba(22, 22, 22, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161616', endColorstr='#00161616',GradientType=0 );
    content: "";
    height: 150px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.home .screen-2 .col-md-6 {
    opacity: 1;
    top: 0px;

    transition: 0.5s all ease;
    -webkit-backface-visibility: hidden;
}

.home .screen-2 .col-md-6.offset {
    opacity: 0.3;
    top: -192px;
}

.mobile .home .screen-2 .col-md-6 {
    top: 64px;
}

/*
* Music
*
*/

.music article {
    margin-bottom: 64px;
}

/*
 * Shows
 * 
 */

.shows .screen-1 .background-image {
    background: url(./images/shows.jpg) no-repeat center top;
}

.shows h2 {
    margin-top: 30px;
}

article.closed > * {
    /* opacity: .35; */
    text-decoration: line-through;
}

/*
 * Contact
 * 
 */

/*.contact .screen-1 {
	background: url(./images/contact.jpg) no-repeat center top;
}*/

/*
 * Imprint
 * 
 */

.imprint .col-md-6 {
    padding-bottom: 100px;
    padding-top: 60px;
}

.imprint #content a {
    display: inline-block !important;
}

/*
 * Canvas
 * 
 */

#canvas {
    position: absolute;
    left: 0;
    top: 0px;
    z-index: -1;
}

/*
 * Fabian
 * 
 */

img.polaroid {
    background: #fff;
    box-shadow: 0px 0px 4px #000;
    padding: 8px;
    position: absolute;
}

.fabian-1 {
    right: -3%;
    top: -3%;
    transform: rotate(30deg);
}
.fabian-2 {
    left: -4%;
    top: 0%;
    transform: rotate(-15deg);
}
.fabian-3 {
    left: -4%;
    top: 57%;
    transform: rotate(-5deg);
}
.fabian-4 {
    right: -3%;
    top: 38%;
    transform: rotate(19deg);
}
.fabian-5 {
    right: 26%;
    top: 16%;
    transform: rotate(9deg);
}
.fabian-6 {
    right: 62%;
    top: 31%;
    transform: rotate(5deg);
}
.fabian-7 {
    right: 41%;
    top: -10%;
    transform: rotate(19deg);
}
.fabian-8 {
    right: 16%;
    top: 48%;
    transform: rotate(19deg);
}
.fabian-9 {
    right: 41%;
    top: 52%;
    transform: rotate(-9deg);
    z-index: -1;
}

.invite-text {
    color: #fc3f9b;
    font-size: 5vh;
    font-weight: bold;
    position: absolute;
    z-index: 9999;
    line-height: 1;
    text-shadow: 1px 1px 0px #fff;
}

.invite-text small {
    font-size: 50%;
}

.text-1 {
    left: 18%;
    top: 14%;
}

.text-2 {
    right: 17%;
    top: 38%;
}

.text-3 {
    left: 26%;
    top: 80%;
}

.moon-container {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.moon {
    top: -93px;
    position: absolute;
    will-change: top;

    transition: 8s top linear;
    animation: 2s pulsate ease-in-out infinite;
}

@keyframes pulsate {
    0% {
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    }
    50% {
        transform: scale3d(0.5, 0.5, 1) rotate3d(0, 0, 1, 360deg);
    }
    100% {
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    }
}

#canvas {
    position: absolute;
    left: 0;
    top: 0px;
    z-index: -1;
}

/*
 * Misc
 * 
 */

.center-block {
    float: none;
}

#nav-top-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
